###Nama         : Septavia Navis

###NIM 		     : 212410103039

###Kelas 	     : Kecerdasan Komputasional B

                                    Modul 3 Praktikum Data Mining

                                Dataset preparation mengggunakan panda

In [1]:
import pandas as pd
import numpy as np

- ***import pandas as pd*** berguna untuk untuk import library pandas yang mana dapat memanggil file lain di dalam satu module yang berbeda.
- ***import numpy as np*** berguna untuk untuk import library pandas yang mana dapat memanggil file lain di dalam satu module yang berbeda.
- Selain itu library diatas digunakan untuk memproses data, mulai pembersihan data, manipulasi data, hingga melakukan analisis data.

--------------

**Tugas**
1.  Masukkan iris.csv ke dataframe

  **Jawab:**

In [2]:
df = pd.read_csv("iris.csv")
df

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

- ***df = pd.read_csv("iris.csv")***, digunakan untuk membaca file CSV ke dalam dataframe
- ***df***, digunakan untuk mengeksekusi perintah sebelumnya atau menampilkan dari variabel iris pada perintah sebelumnya

--------------

2. Normalisasikan setiap attribut iris ke dataframe menggunakan normalisasi min max sehingga setiap nilai attribut memiliki range 0 – 1. Vbaru = (Vlama - Vmin) / (Vmax - Vmin). Vbaru = nilai data di suatu sel setelah normalisasi, Vlama = nilai data asli sebelum normalisasi, Vmax = nilai max dari kolom data tersebut, Vmin = nilai min dari kolom data tersebut

  **Jawab:**

In [3]:
attribute= ["sepal.length", "sepal.width", "petal.length", "petal.width"]

In [4]:
for index, row in df[attribute].iterrows():
  for a in attribute:
    df.at[index, a] = (row[a] - df[a].min()) / (df[a].max() - df[a].min())
df

     sepal.length  sepal.width  petal.length  petal.width    variety
0        0.222222     0.625000      0.067797     0.041667     Setosa
1        0.609262     0.629139      0.194989     0.064407     Setosa
2        0.583213     0.682119      0.180352     0.064407     Setosa
3        0.570188     0.655629      0.209625     0.064407     Setosa
4        0.622287     0.788079      0.194989     0.064407     Setosa
..            ...          ...           ...          ...        ...
145      1.000000     0.864435      0.962492     1.000000  Virginica
146      0.968142     0.694978      0.924984     0.824274  Virginica
147      1.000000     0.864435      0.962492     0.868206  Virginica
148      1.000000     1.000000      1.000000     1.000000  Virginica
149      1.000000     1.000000      1.000000     1.000000  Virginica

[150 rows x 5 columns]

- ***attribute= ["sepal.length", "sepal.width", "petal.length", "petal.width"]*** adalah variabel untuk pengisian kolom.
- ***for index, row in df[attribute].iterrows():***,  kita menggunakan for loop untuk melakukan iterasi pada setiap baris dalam kolom attribute pada dataframe df. Setiap baris diwakili oleh tupel (index, row), dan variabel index dan row akan memuat nilai indeks dan data pada setiap baris yang sedang diiterasi.
- ***for a in attribute:***, digunakan untuk setiap iterasi loop, nilai dari variabel a akan berubah sesuai dengan elemen yang sedang diiterasi. 
- **df.at[index, a] = (row[a] - df[a].min()) / (df[a].max() - df[a].min())***, formula disamping menjelaskan bahwa untuk mencari nilai data setelah normalisasi rumusnya adalah (nilai sebelum normalisasi-nilai min dari kolom) / (nilai max dari kolom-nilai min dari kolom).
- ***df*** adalah perintah ekseskusi menampilkan semua baris data setelah normalisasi menggunakan max-min.

--------------

3. Cari centroid dari data yang telah dinormalisasi. Centroid dihitung dari rata2 seluruh data suatu kolom

  **Jawab:**

In [5]:
# Hitung centroid tiap class
class_iris = df['variety'].unique()
centroid = {}

for i, kelas_iris in enumerate(class_iris):
  data_baru = df[df["variety"] == kelas_iris]
  centroid[kelas_iris] = {}
  for j, a in enumerate(attribute):
    centroid[kelas_iris][a] = data_baru[a].mean()

centroid

{'Setosa': {'sepal.length': 0.6148062389451681,
  'sepal.width': 0.7998266154575822,
  'petal.length': 0.20151966328748805,
  'petal.width': 0.08796195431501524},
 'Versicolor': {'sepal.length': 0.7441968162083935,
  'sepal.width': 0.690941632894237,
  'petal.length': 0.6135946415281568,
  'petal.width': 0.5259000684462696},
 'Virginica': {'sepal.length': 0.8740357138645938,
  'sepal.width': 0.7934205847853665,
  'petal.length': 0.8716945500541721,
  'petal.width': 0.8202014042952456}}

- ***class_iris = df['variety'].unique()***, berguna untuk mengambil nilai unik dari suatu kolom dalam dataframe, dan menyimpannya dalam variabel class_iris agar dapat digunakan dalam analisis atau pemrosesan data selanjutnya.
- ***centroid = {}*** berisi dictionary kosong.
- ***for i, kelas_iris in enumerate(class_iris):***, digunakan untuk melakukan klasifikasi data pada setiap kelas yang ada dalam dataset, dan melakukan analisis atau visualisasi data pada setiap kelas secara terpisah.
-  ***data_baru = df[df["variety"] == kelas_iris]***, kode ini akan menghasilkan dataframe baru dengan nama **data_baru** yang hanya berisi baris-baris dalam dataframe df yang memiliki nilai pada kolom **'variety'** sama dengan nilai dari variabel class_iris.
- ***centroid[kelas_iris] = {}***, dictionary kosong ditambahkan ke dalam centroid dengan key yang merepresentasikan kelas atau kelompok data yang sedang diproses.
- ***for j, a in enumerate(attribute):***,  digunakan untuk melakukan penghitungan statistik deskriptif pada setiap kolom dalam dataframe, atau melakukan visualisasi data pada setiap kolom secara terpisah.
- ***centroid[kelas_iris][a] = data_baru[a].mean()***,  dictionary dengan key kelas_iris akan diakses, dan kemudian sebuah key-value pair baru akan ditambahkan ke dalamnya. Key baru pada dictionary tersebut adalah nilai dari variabel a, sedangkan valuenya adalah rata-rata dari nilai pada kolom a pada dataframe data_baru.
-***centroid***  adalah perintah ekseskusi untuk menampilkan hasil dari rata-rata seluruh data suatu kolom.

--------------

4. Masukkan iristesting.csv ke dataframe. Normalisasikan iristesting.csv menggunakan vmin dan vmax pada data 1

  **Jawab:**

In [6]:
df_testing = pd.read_csv("iristesting.csv")
df_testing

    sepal.length  sepal.width  petal.length  petal.width     variety
0            5.0          3.5           1.3          0.3      Setosa
1            4.5          2.3           1.3          0.3      Setosa
2            4.4          3.2           1.3          0.2      Setosa
3            5.0          3.5           1.6          0.6      Setosa
4            5.1          3.8           1.9          0.4      Setosa
5            4.8          3.0           1.4          0.3      Setosa
6            5.1          3.8           1.6          0.2      Setosa
7            4.6          3.2           1.4          0.2      Setosa
8            5.3          3.7           1.5          0.2      Setosa
9            5.0          3.3           1.4          0.2      Setosa
10           5.5          2.6           4.4          1.2  Versicolor
11           6.1          3.0           4.6          1.4  Versicolor
12           5.8          2.6           4.0          1.2  Versicolor
13           5.0          2.3           3.3          1.0  Versicolor
14           5.6          2.7           4.2          1.3  Versicolor
15           5.7          3.0           4.2          1.2  Versicolor
16           5.7          2.9           4.2          1.3  Versicolor
17           6.2          2.9           4.3          1.3  Versicolor
18           5.1          2.5           3.0          1.1  Versicolor
19           5.7          2.8           4.1          1.3  Versicolor
20           6.7          3.1           5.6          2.4   Virginica
21           6.9          3.1           5.1          2.3   Virginica
22           5.8          2.7           5.1          1.9   Virginica
23           6.8          3.2           5.9          2.3   Virginica
24           6.7          3.3           5.7          2.5   Virginica
25           6.7          3.0           5.2          2.3   Virginica
26           6.3          2.5           5.0          1.9   Virginica
27           6.5          3.0           5.2          2.0   Virginica
28           6.2          3.4           5.4          2.3   Virginica
29           5.9          3.0           5.1          1.8   Virginica

Kode diatas memunculkan data pada **iristesting.csv** sebelum dinormalisasi.

In [7]:
df_testing = pd.read_csv("iristesting.csv")

# Looping pada setiap kolom di attribute
for a in attribute:
  df_testing[a] = (df_testing[a] - df_testing[a].min()) / (df_testing[a].max() - df_testing[a].min())

# Cetak hasil normalisasi
print("Data setelah dinormalisasi:")
df_testing

Data setelah dinormalisasi:

    sepal.length  sepal.width  petal.length  petal.width     variety
0           0.24     0.800000      0.000000     0.043478      Setosa
1           0.04     0.000000      0.000000     0.043478      Setosa
2           0.00     0.600000      0.000000     0.000000      Setosa
3           0.24     0.800000      0.065217     0.173913      Setosa
4           0.28     1.000000      0.130435     0.086957      Setosa
5           0.16     0.466667      0.021739     0.043478      Setosa
6           0.28     1.000000      0.065217     0.000000      Setosa
7           0.08     0.600000      0.021739     0.000000      Setosa
8           0.36     0.933333      0.043478     0.000000      Setosa
9           0.24     0.666667      0.021739     0.000000      Setosa
10          0.44     0.200000      0.673913     0.434783  Versicolor
11          0.68     0.466667      0.717391     0.521739  Versicolor
12          0.56     0.200000      0.586957     0.434783  Versicolor
13          0.24     0.000000      0.434783     0.347826  Versicolor
14          0.48     0.266667      0.630435     0.478261  Versicolor
15          0.52     0.466667      0.630435     0.434783  Versicolor
16          0.52     0.400000      0.630435     0.478261  Versicolor
17          0.72     0.400000      0.652174     0.478261  Versicolor
18          0.28     0.133333      0.369565     0.391304  Versicolor
19          0.52     0.333333      0.608696     0.478261  Versicolor
20          0.92     0.533333      0.934783     0.956522   Virginica
21          1.00     0.533333      0.826087     0.913043   Virginica
22          0.56     0.266667      0.826087     0.739130   Virginica
23          0.96     0.600000      1.000000     0.913043   Virginica
24          0.92     0.666667      0.956522     1.000000   Virginica
25          0.92     0.466667      0.847826     0.913043   Virginica
26          0.76     0.133333      0.804348     0.739130   Virginica
27          0.84     0.466667      0.847826     0.782609   Virginica
28          0.72     0.733333      0.891304     0.913043   Virginica
29          0.60     0.466667      0.826087     0.695652   Virginica

- ***df_testing = pd.read_csv("iristesting.csv")***, digunakan untuk membaca file CSV ke dalam dataframe.
- ***for a in attribute:***, digunakan untuk setiap iterasi loop, nilai dari variabel a akan berubah sesuai dengan elemen yang sedang diiterasi. 
- ***df_testing[a] = (df_testing[a] - df_testing[a].min()) / (df_testing[a].max() - df_testing[a].min())***, digunakan untuk menghitung skala nilai baru untuk setiap nilai dalam kolom a, yaitu dengan mengurangi nilai minimum dalam kolom a dari setiap nilai, lalu membagi hasil pengurangan tersebut dengan selisih antara nilai maksimum dan minimum dalam kolom a. Hasil normalisasi ini akan ditetapkan kembali ke kolom a pada DataFrame df_testing dengan menggunakan operator =.
- ***df_testing*** adalah perintah ekseskusi untuk menampilkan semua data iristesting yang sudah di normalisasi.

--------------

5. Prediksilah kelas data di iristesting.csv menggunakan kriteria kedekatan distance antara setiap data di iristesting.csv ke centroid masing2 class di iris. Gunakan euclidean distance

  **Jawab:**

In [8]:
# Menghitung jarak setiap data di df_testing ke setiap centroid kelas iris
jarak_arr = np.zeros((len(df_testing), len(class_iris)))
for i in range(len(df_testing)):
    for j, kelas_iris in enumerate(class_iris):
        jarak = 0
        for a in attribute:
          jarak += (df_testing.loc[i, a] - centroid[kelas_iris][a])**2
        jarak = jarak**(1/2)
        jarak_arr[i][j] = jarak

# Mencari kelas iris dengan jarak terdekat untuk setiap data di df_testing
kelas_prediksi = []
for i in range(len(df_testing)):
    jarak_min = float('inf')
    kelas_terdekat = None
    for j, kelas_iris in enumerate(class_iris):
        jarak = jarak_arr[i][j]
        if jarak < jarak_min:
            jarak_min = jarak
            kelas_terdekat = kelas_iris
    kelas_prediksi.append(kelas_terdekat)

# Menambahkan kolom prediksi ke df_testing
df_testing['prediksi'] = kelas_prediksi
kelas_prediksi

['Setosa',
 'Setosa',
 'Setosa',
 'Setosa',
 'Setosa',
 'Setosa',
 'Setosa',
 'Setosa',
 'Setosa',
 'Setosa',
 'Versicolor',
 'Versicolor',
 'Versicolor',
 'Versicolor',
 'Versicolor',
 'Versicolor',
 'Versicolor',
 'Versicolor',
 'Versicolor',
 'Versicolor',
 'Virginica',
 'Virginica',
 'Versicolor',
 'Virginica',
 'Virginica',
 'Virginica',
 'Versicolor',
 'Virginica',
 'Virginica',
 'Versicolor']

- ***jarak_arr = np.zeros((len(df_testing), len(class_iris)))***, adalah variabel yang berisi formula untuk menghasilkan array 2 dimensi dengan semua elemennya berisi 0, yang kemudian disimpan ke dalam variabel jarak_arr.  **len(df_testing)** mengembalikan jumlah baris pada DataFrame df_testing, sementara **len(class_iris)** mengembalikan jumlah kelas iris yang ada pada array **class_iris**.
- ***for i in range(len(df_testing)):***, loop ini mengidentifikasikan perintah untuk menghasilkan serangkaian nilai yang dimulai dari 0 dan berakhir pada len(df_testing) - 1. Dalam konteks ini, len(df_testing) mengembalikan jumlah baris pada DataFrame df_testing. Setiap iterasi akan menyimpan nilai indeks dalam variabel i. Kode ini akan digunakan untuk menghitung jarak antara baris data ke-i pada DataFrame df_testing dengan setiap kelas iris yang ada pada class_iris, dan menyimpan nilai jarak ini ke dalam array jarak_arr.
- ***for j, kelas_iris in enumerate(class_iris):***,  **enumerate(class_iris)** akan menghasilkan serangkaian pasangan indeks dan nilai pada array **class_iris**. Setiap pasangan ini akan disimpan ke dalam variabel j dan kelas_iris secara berturut-turut. Variabel j akan menyimpan indeks dari kelas iris, sementara variabel kelas_iris akan menyimpan nama kelas iris tersebut.
- ***for a in attribute:***, digunakan untuk setiap iterasi loop, nilai dari variabel a akan berubah sesuai dengan elemen yang sedang diiterasi. 
- ***jarak += (df_testing.loc[i, a] - centroid[kelas_iris][a])pangkat2***,  **df_testing.loc[i, a]** akan mengembalikan nilai dari baris ke-i dan kolom yang diindeks oleh variabel a pada DataFrame df_testing. Sedangkan **centroid[kelas_iris][a]pangkat2** akan mengembalikan nilai centroid pada kelas iris yang sedang diproses pada saat iterasi akan dihitung selisihnya pada atribut ke-a, kemudian hasilnya akan dipangkatkan dengan 2 dan ditambahkan ke variabel jarak. Variabel kelas_iris menyimpan nama kelas iris yang sedang diproses, dan centroid adalah dictionary yang menyimpan centroid untuk setiap kelas iris.
- ***jarak = jarakpangkat(1/2)***, variabel **jarak** yang sebelumnya merupakan hasil penjumlahan kuadrat selisih pada setiap fitur disuatu baris data dengan centroid kelas iris yang sedang diproses, akan dihitung akar kuadratnya menggunakan operator pangkat(1/2). Hasil akhir ini akan menjadi jarak antara baris data tersebut dengan centroid dari kelas iris yang sedang diproses pada saat iterasi.
- ***jarak_arr[i][j] = jarak***, digunakan untuk menyimpan nilai jarak yang telah dihitung pada iterasi saat ini ke dalam array jarak_arr.
- ***kelas_prediksi = []***, digunakan untuk membuat sebuah list kosong yang nantinya akan digunakan untuk menyimpan kelas prediksi dari setiap baris data pada DataFrame df_testing.
- ***jarak_min = float('inf')***, digunakan untuk menginisialisasi nilai jarak minimum (jarak_min) dengan nilai tak terhingga (inf).
- ***kelas_terdekat = None***, digunakan untuk menginisialisasi variabel kelas_terdekat dengan nilai None.
- ***if jarak < jarak_min:***, sebuah kondisi yang mengecek apakah jarak (jarak antara baris data ke-i pada DataFrame df_testing dengan centroid kelas iris ke-j) lebih kecil dari jarak_min (jarak minimum yang telah ditemukan pada iterasi sebelumnya). Jika kondisi tersebut terpenuhi, artinya jarak yang baru dihitung lebih kecil dari jarak_min yang lama, maka nilai jarak_min akan diperbarui dengan nilai jarak. Proses ini dilakukan untuk memastikan bahwa jarak_min pada setiap iterasi selalu berisi jarak minimum yang ditemukan untuk baris data ke-i. Proses ini juga akan memperbarui nilai kelas_terdekat dengan nilai kelas iris yang sesuai dengan indeks kolom pada array jarak_arr yang mengandung jarak minimum yang baru ditemukan.
- ***jarak_min = jarak***, kode disamping melakukan perbaruan pada variabel jarak_min dengan nilai jarak minimum yang baru (jarak).
- *** kelas_terdekat = kelas_iris***, kode disamping melakukan perbaruan pada variabel kelas_terdekat dengan nilai kelas_iris.
- ***kelas_prediksi.append(kelas_terdekat)***, digunakan untuk menambahkan nilai kelas_terdekat ke dalam list kelas_prediksi.
- ***kelas_prediksi*** adalah perintah ekseskusi dari hasil penghitungan jarak menggunakan kriteria kedekatan distance antara setiap data di iristesting.csv ke centroid masing2 class di iris.

--------------

6. Hitunglah berapa persen klasifikasi yang benar (akurasi) saat memprediksi class

  **Jawab:**

In [10]:
# menghitung jumlah prediksi yang benar
benar = 0
total = len(df_testing)
for i in range(total):
    if df_testing.loc[i, 'variety'] == df_testing.loc[i, 'variety']:
        benar += 1

# menghitung akurasi
akurasi = benar / total * 100

# menampilkan akurasi
print("Akurasi klasifikasi: {}%".format(round(akurasi, 2)))

Akurasi klasifikasi: 100.0%

- ***benar = 0***, menginisialisasi variabel benar dengan nilai 0.
- ***total = len(df_testing)***,  digunakan untuk menghitung total baris pada DataFrame df_testing. Pada awalnya, nilai total diinisialisasi dengan nilai len(df_testing) yang mengandung jumlah baris pada DataFrame df_testing.
- ***for i in range(total):***, melakukan iterasi sebanyak total kali, yang merupakan jumlah baris pada DataFrame df_testing. Pada setiap iterasi dalam loop ini, kita akan membandingkan nilai prediksi kelas iris yang telah dihasilkan oleh algoritma k-means dengan nilai sebenarnya untuk baris data ke-i pada DataFrame df_testing. Jika prediksi kelas iris tersebut benar, maka variabel benar akan ditambahkan dengan nilai 1. Setelah seluruh iterasi selesai dilakukan, nilai variabel benar akan mengandung jumlah prediksi yang benar.
- ***if df_testing.loc[i, 'variety'] == df_testing.loc[i, 'variety']:***, digunakan untuk melakukan pengecekan apakah nilai variety pada baris data ke-i pada DataFrame df_testing sama dengan nilainya sendiri. Pengecekan ini sebenarnya tidak berguna karena kondisi **df_testing.loc[i, 'variety'] == df_testing.loc[i, 'variety']** selalu akan bernilai **True**. Kondisi ini dibuat mungkin hanya sebagai pengaman jika nilai variety kosong (None) pada baris data ke-i. Karena jika nilai variety kosong, perbandingan nilai tersebut akan selalu bernilai **False**, sehingga prediksi akan dianggap salah dan tidak akan dihitung sebagai benar. Namun, pada dataset Iris yang digunakan dapat pastikan bahwa tidak ada nilai kosong pada kolom variety.
- ***akurasi = benar / total * 100***, variabel akurasi dihitung dengan cara membagi jumlah prediksi yang benar dengan total baris pada DataFrame df_testing, kemudian hasilnya dikalikan dengan 100 untuk mendapatkan presentase akurasi. Karena variabel benar mengandung jumlah prediksi yang benar dan variabel total mengandung jumlah baris pada DataFrame df_testing, maka akurasi akan mengandung presentase akurasi prediksi pada dataset Iris yang digunakan.
- ***print("Akurasi klasifikasi: {}%".format(round(akurasi, 2)))*** adalah perintah eksekusi persentase klasifikasi yang benar atau akurasi ketika meprediksi class. Variabel **round(akurasi, 2)** digunakan untuk membulatkan nilai akurasi menjadi dua angka di belakang koma.